<h2>Professor list</h2>
<table class = "table table-striped">
  <thead>
      <tr>
          <th> Name </th>
          <th> Surname </th>
          <th> Email </th>
          <th> Password </th>
          <th> Role </th>
          <th> Actions </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let professor of professors">
        <td>{{ professor.name }}</td>
        <td>{{ professor.surname }}</td>
        <td>{{ professor.email }}</td>
        <td>{{ professor.password }}</td>
        <td>{{ professor.role }}</td>
        <td>
          <button (click) = "updateProfessor(professor.id)" class="btn btn-info"> Update </button>
          <button (click) = "deleteProfessor(professor.id)" class="btn btn-danger" style="margin-left: 10px"> Delete </button>
        </td>

      </tr>
  </tbody>
</table>
<tr></tr>
<button (click) = "goToCreateProfessor()" class="btn btn-success"> Add new professor </button>
