<<h2>My evaluated test list</h2>
<table class = "table table-striped">
  <thead>
      <tr>
          <th> Course name </th>
          <th> Test title </th>
          <th> Test created by </th>
          <th> Signed by student </th>
          <th> Date signed up </th>
          <th> Date evaluated </th>
          <th> Maximum points </th>
          <th> Given points </th>
          <th> Actions </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let userTest of myEvaluatedUserTests">
        <td>{{ userTest.test.course.name }}</td>
        <td>{{ userTest.test.title }}</td>
        <td>{{ userTest.test.user.name + " " +  userTest.test.user.surname + " " +  userTest.test.user.role }}</td>
        <td>{{ userTest.userStudentSignedUp.name + " " +  userTest.userStudentSignedUp.surname + " " +  userTest.userStudentSignedUp.indexNum}}</td>
        <td>{{ userTest.dateCreated }}</td>
        <td>{{ userTest.dateUpdated }}</td>
        <td>{{ userTest.test.maxPoints }}</td>
        <td>{{ userTest.points }}</td>

        <td>

          <button (click) = "goToProfessorEvaluateTest(userTest.id)" class="btn btn-info"> Update </button>

        </td>


      </tr>
  </tbody>
</table>
<tr></tr>
<!-- <button (click) = "goToCreateCourse()" class="btn btn-success"> Add new course </button> -->
