<h2>My available test list for course: {{course.name}} {{course.code}}</h2>
<table class = "table table-striped">
  <thead>
      <tr>
          <th> Title </th>
          <th> Description </th>
          <th> Date created </th>
          <th> Maximum points </th>
          <th> Actions </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let test of myAvailableTestsForCourse" >
        <td>{{ test.title }}</td>
        <td>{{ test.description }}</td>
        <td>{{ test.dateCreated }}</td>
        <td>{{ test.maxPoints }}</td>


        <td>
          <button (click) = "goToSignUpForTest(test.id)" class="btn btn-info"> Sign up for test </button>
        </td>

  </tbody>
</table>
<tr></tr>
<!-- <button (click) = "goToCreateCourse()" class="btn btn-success"> Add new course </button> -->
