<h2>Student list</h2>
<table class = "table table-striped">
  <thead>
      <tr>
          <th> Name </th>
          <th> Surname </th>
          <th> Index number </th>
          <th> Email </th>
          <th> Password </th>
          <th> Actions </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let student of students">
        <td>{{ student.name }}</td>
        <td>{{ student.surname }}</td>
        <td>{{ student.indexNum }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.password }}</td>
        <td>
          <button (click) = "updateStudent(student.id)" class="btn btn-info"> Update </button>
          <button (click) = "deleteStudent(student.id)" class="btn btn-danger" style="margin-left: 10px"> Delete </button>
          <button (click) = "studentDetails(student.id)" class="btn btn-info" style="margin-left: 10px"> View </button>
        </td>

      </tr>
  </tbody>
</table>
