<h2>My test list</h2>
<table class = "table table-striped">
  <thead>
      <tr>
          <th> Course </th>
          <th> Title </th>
          <th> Date created </th>
          <th> Description </th>
          <th> Maximum points </th>
          <th> Actions </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let test of myTests">
        <td>{{ test.course.name }}</td>
        <td>{{ test.title }}</td>
        <td>{{ test.dateCreated | date: 'medium' }}</td>
        <td>{{ test.description }}</td>
        <td>{{ test.maxPoints }}</td>
        <td>

          <button (click) = "goToSignedUpTests(test.id)" class="btn btn-info"> Show signed up tests </button>
          <button (click) = "goToUpdateTest(test.id)" class="btn btn-success" style="margin-left: 10px"> Update </button>
          <button (click) = "deleteTest(test.id)" class="btn btn-danger" style="margin-left: 10px"> Delete </button>
          <!--
          <button (click) = "addTest(course.id)" class="btn btn-info" style="margin-left: 10px"> Create test </button>
          -->
        </td>

      </tr>
  </tbody>
</table>


