<h2>My evaluated test list</h2>
<table class = "table table-striped">
  <thead>
      <tr>
          <th> Course name </th>
          <th> Test title </th>
          <th> Signed by student </th>
          <th> Evaluated by professor</th>
          <th> Date signed up </th>
          <th> Date evaluated </th>
          <th> Maximum points </th>
          <th> Given points </th>
          <th> Status </th>
          <th> Note </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let userTest of myEvaluatedUserTests">
        <td>{{ userTest.test.course.name }}</td>
        <td>{{ userTest.test.title }}</td>
        <td>{{ userTest.userStudentSignedUp.name + " " +  userTest.userStudentSignedUp.name + " " +  userTest.userStudentSignedUp.indexNum }}</td>
        <td>{{ userTest.userProfessorUpdate.name + " " +  userTest.userProfessorUpdate.name + " " +  userTest.userProfessorUpdate.role}}</td>
        <td>{{ userTest.dateCreated | date: 'medium' }}</td>
        <td>{{ userTest.dateUpdated | date: 'medium' }}</td>
        <td>{{ userTest.test.maxPoints }}</td>
        <td>{{ userTest.points }}</td>
        <!--<td *ngIf="userTest.signedUpStatus == 'PASSED'";bgcolor = "green"><b>{{ userTest.signedUpStatus }}</b></td> -->
        <td [ngStyle]="{'background-color': userTest.signedUpStatus == 'PASSED' ? 'green' : 'red'}"><b>{{ userTest.signedUpStatus }}</b></td>
        <td>{{ userTest.note }}</td>




      </tr>
  </tbody>
</table>
<tr></tr>
<!-- <button (click) = "goToCreateCourse()" class="btn btn-success"> Add new course </button> -->
