<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="students" routerLinkActive="active" class="nav-link">Student list</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-student" routerLinkActive="active" class="nav-link">Add student</a>
    </li>
    <li class="nav-item">
      <a routerLink="professors" routerLinkActive="active" class="nav-link">Professor list</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class="container">
    <span>All Rights Reserved 2021 Kristijan Bujak</span>

  </div>


</footer>
